@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

.login{
  background-image: linear-gradient(#D85CCB,#FEE999);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}
/* fluid */
.shape img{
  width:45%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.login-text h1{
  font-size: 105px;
  color: black;
}
.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  min-width: 280px;
  max-width: 500px;
  padding: 0 1rem;
  color: black;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: black;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
  border-color: black;
  outline: none;
}
footer img{
  width: 45px;
}

@media screen and (max-width:768px) {
  .shape img{
    width: 100%;
  }
  .login{
    text-align: center;
  }
  .input-group{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:992px) {
  .shape img{
    width: 80% !important;
  }
  .input{
    min-width: 250px;
  }
}