html{
    direction: rtl;
}
body {
    font-family: Arial, sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/high-angle-controller-with-vr-glasses.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}
.main{
    width: 95% !important;
    margin: auto;
    min-height: 100vh;
}
.main-content{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/cosmic-background-with-colorful-laser-lights-perfect-digital-wallpaper.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-content .options{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/5106989.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.all-buttons button{
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-image: url(../assets/images/cosmic-background-with-colorful-laser-lights-perfect-digital-wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    border: none;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 5px black;
    border-radius: 10px;
    transition: all .3s ease;
}
.all-buttons button:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../assets/images/cosmic-background-with-colorful-laser-lights-perfect-digital-wallpaper.jpg);
    color: white;
}
.all-buttons button:disabled{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../assets/images/5106989.jpg);
    background-size: cover;
    background-position: center center;
    color: gray;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    
}
.table th {
    background-image: linear-gradient(to right,rgba(77, 1, 1, 0.9),rgba(0, 0, 0, 0.9)); /* Darker shade for better contrast */
    color: white;
}
.table td {
    background-image: linear-gradient(to right,rgba(0, 6, 7, 0.9),rgba(71, 0, 37, 0.9)); /* Darker shade for better contrast */
    color: white;
}
.table tfoot th {
    color:white;
    font-weight: bold;
}

.title{
    border: solid 2px white;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: #000 !important;
    font-weight: 700;
    box-shadow: 10px 10px 0px 0px black;
    margin-bottom: 20px;
}
.dra3{
    padding: 20px;
}
input{
    background-image: linear-gradient(to right,rgba(77, 1, 1, 0.9),rgba(0, 0, 0, 0.9)); /* Darker shade for better contrast */
    color: #FBFADA !important; /* Light text for readability */
    border-radius: 5px; /* Rounded corners for modern look */
    font-size: 16px; /* Slightly larger font for better visibility */
}
input::placeholder{
    color: gray !important;
}
select {
    background-image: linear-gradient(to right,rgba(77, 1, 1, 0.9),rgba(0, 0, 0, 0.9)) !important; /* Darker shade for better contrast */
    color: #FBFADA !important; /* Light text for readability */
    border-radius: 5px; /* Rounded corners for modern look */
    font-size: 16px; /* Slightly larger font for better visibility */
}

option {
    padding: 5px; /* Padding for better touch interaction */
    background-color: black; /* Consistent with device background */
    color: white    ;
}

@media screen and (max-width:768px) {
    .main{
        width: 99% !important;
    }
}